In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
xl = pd.ExcelFile("aqueduct-water-stress-country-rankings-data-set.xlsx")

In [3]:
df_2020BAU = xl.parse("2020 BAU")
# df_2020BAU.head()

In [4]:
df_2020op = xl.parse("2020 optimistic")
# df_2020op.head()

In [5]:
df_2020pe = xl.parse("2020 pessimistic")
# df_2020pe.head()

In [6]:
df_2030BAU = xl.parse("2030 BAU")
# df_2030BAU.head()

In [7]:
df_2030op = xl.parse("2030 optimistic")
# df_2030op.head()

In [8]:
df_2030pe = xl.parse("2030 pessimistic")
# df_2030pe.head()

In [9]:
df_2040BAU = xl.parse("2040 BAU")
# df_2040BAU.head()

In [10]:
df_2040op = xl.parse("2040 optimistic")
# df_2040op.head()

In [11]:
df_2040pe = xl.parse("2040 pessimistic")
# df_2040pe.head()

In [12]:
df_All_Sectors_BAU20 = df_2020BAU.copy()
df_All_Sectors_BAU20 = df_All_Sectors_BAU20[['Name', 'All Sectors']]
df_All_Sectors_BAU20 = df_All_Sectors_BAU20.rename(columns={'All Sectors': '2020'})
# df_All_Sectors_BAU20.head()

In [13]:
df_All_Sectors_BAU30 = df_2030BAU.copy()
df_All_Sectors_BAU30 = df_All_Sectors_BAU30[['Name', 'All Sectors']]
df_All_Sectors_BAU30 = df_All_Sectors_BAU30.rename(columns={'All Sectors': '2030'})
# df_All_Sectors_BAU30.head()

In [14]:
df_All_Sectors_BAU40 = df_2040BAU.copy()
df_All_Sectors_BAU40 = df_All_Sectors_BAU40[['Name', 'All Sectors']]
df_All_Sectors_BAU40 = df_All_Sectors_BAU40.rename(columns={'All Sectors': '2040'})
# df_All_Sectors_BAU40.head()

In [15]:
df_All_Sectors_BAU = pd.merge(df_All_Sectors_BAU20, df_All_Sectors_BAU30, on='Name')
df_All_Sectors_BAU = pd.merge(df_All_Sectors_BAU, df_All_Sectors_BAU40, on='Name')
# df_All_Sectors_BAU.head()

In [16]:
# df_All_Sectors_BAU_diff = df_All_Sectors_BAU.copy()
# df_All_Sectors_BAU['2020 - 2030'] = df_All_Sectors_BAU['2030'] - df_All_Sectors_BAU['2020']
# df_All_Sectors_BAU['2030 - 2040'] = df_All_Sectors_BAU['2040'] - df_All_Sectors_BAU['2030']
df_All_Sectors_BAU['Water Stress Change'] = df_All_Sectors_BAU['2040'] - df_All_Sectors_BAU['2020']
# df_All_Sectors_BAU = df_All_Sectors_BAU[['Name', 'All sectors 2020 - 2040']]
# df_All_Sectors_BAU.head()
df_All_Sectors_BAU = df_All_Sectors_BAU.sort_values('Water Stress Change', ascending=True)

In [18]:
tufte_All_Sectors_BAU = df_All_Sectors_BAU.copy()
# tufte_All_Sectors_BAU['All sectors BAU 2020'] = 0
tufte_All_Sectors_BAU.head(10)

               Name      2020      2030      2040  Water Stress Change
72           Taiwan  1.972330  1.541100  1.136380            -0.835950
35          Eritrea  3.635090  3.496630  2.997220            -0.637870
92       Madagascar  1.150320  0.939361  0.876736            -0.273584
69          Ecuador  2.092430  1.924010  1.878130            -0.214300
9             Yemen  4.952410  4.875410  4.738280            -0.214130
58   United Kingdom  2.565640  2.477650  2.382280            -0.183360
42             Peru  3.335340  3.166060  3.178830            -0.156510
11            Libya  4.865610  4.744190  4.774480            -0.091130
30            India  3.697750  3.659590  3.607530            -0.090220
105         Uruguay  0.675249  0.608940  0.585354            -0.089895

In [19]:
# tufte_All_Sectors_BAU_df = pd.DataFrame(tufte_All_Sectors_BAU)
# # tufte_All_Sectors_BAU.to_csv("tufte_All_Sectors_BAU.csv")
# print(tufte_All_Sectors_BAU_df.to_json(orient="records"))

In [22]:
# print( tufte_All_Sectors_BAU.head(5) )
# print( tufte_All_Sectors_BAU.tail(5) )

In [19]:
tufte_All_Sectors_BAU_fl5 = tufte_All_Sectors_BAU[tufte_All_Sectors_BAU["Name"].isin(["Taiwan", "Eritrea", "Madagascar", "Ecuador", "Yemen", "Netherlands", "Honduras", "Albania", "Estonia", "Botswana"])]
tufte_All_Sectors_BAU_fl5_df = pd.DataFrame(tufte_All_Sectors_BAU_fl5)
print(tufte_All_Sectors_BAU_fl5_df.to_json(orient="records"))

[{"Name":"Taiwan","2020":1.97233,"2030":1.5411,"2040":1.1363799572,"Water Stress Change":-0.8359500428},{"Name":"Eritrea","2020":3.63509,"2030":3.49663,"2040":2.9972200394,"Water Stress Change":-0.6378699606},{"Name":"Madagascar","2020":1.15032,"2030":0.939361,"2040":0.8767359853,"Water Stress Change":-0.2735840147},{"Name":"Ecuador","2020":2.09243,"2030":1.92401,"2040":1.8781299591,"Water Stress Change":-0.2143000409},{"Name":"Yemen","2020":4.95241,"2030":4.87541,"2040":4.7382798195,"Water Stress Change":-0.2141301805},{"Name":"Netherlands","2020":1.83457,"2030":2.2674,"2040":2.6728100777,"Water Stress Change":0.8382400777},{"Name":"Honduras","2020":0.331237,"2030":0.718084,"2040":1.1734499931,"Water Stress Change":0.8422129931},{"Name":"Albania","2020":2.43807,"2030":2.92627,"2040":3.2845799923,"Water Stress Change":0.8465099923},{"Name":"Estonia","2020":2.96373,"2030":3.45909,"2040":3.9143400192,"Water Stress Change":0.9506100192},{"Name":"Botswana","2020":1.9743,"2030":2.40258,"2040":2.9980199337,"Water Stress Change":1.0237199337}]

In [23]:
# # df_All_Sectors_BAU = df_All_Sectors_BAU.sort_values('All sectors BAU 2040')
# df_All_Sectors_BAU.plot(x='Name', y='All sectors BAU 2040', kind='barh', figsize=(20,25))

In [21]:
df_All_Sectors_op20 = df_2020op.copy()
df_All_Sectors_op20 = df_All_Sectors_op20[['Name', 'All Sectors']]
df_All_Sectors_op20 = df_All_Sectors_op20.rename(columns={'All Sectors': '2020'})

df_All_Sectors_op30 = df_2030op.copy()
df_All_Sectors_op30 = df_All_Sectors_op30[['Name', 'All Sectors']]
df_All_Sectors_op30 = df_All_Sectors_op30.rename(columns={'All Sectors': '2030'})

df_All_Sectors_op40 = df_2040op.copy()
df_All_Sectors_op40 = df_All_Sectors_op40[['Name', 'All Sectors']]
df_All_Sectors_op40 = df_All_Sectors_op40.rename(columns={'All Sectors': '2040'})

df_All_Sectors_op = pd.merge(df_All_Sectors_op20, df_All_Sectors_op30, on='Name')
df_All_Sectors_op = pd.merge(df_All_Sectors_op, df_All_Sectors_op40, on='Name')

# df_All_Sectors_op['2020 - 2030'] = df_All_Sectors_op['2030'] - df_All_Sectors_op['2020']
# df_All_Sectors_op['2030 - 2040'] = df_All_Sectors_op['2040'] - df_All_Sectors_op['2030']
df_All_Sectors_op['Water Stress Change'] = df_All_Sectors_op['2040'] - df_All_Sectors_op['2020']
# df_All_Sectors_op = df_All_Sectors_op[['Name', 'All sectors 2020 - 2040']]
# df_All_Sectors_op.head(10)
df_All_Sectors_op = df_All_Sectors_op.sort_values('Water Stress Change', ascending=True)

In [22]:
tufte_All_Sectors_op = df_All_Sectors_op.copy()
# tufte_All_Sectors_op = tufte_All_Sectors_op.rename(columns={'All sectors 2020 - 2040': '2040'})
# tufte_All_Sectors_op['All sectors Optimistic 2020'] = 0
# tufte_All_Sectors_op = tufte_All_Sectors_op[['Name','2020', '2040']]
tufte_All_Sectors_op.head()

        Name     2020     2030     2040  Water Stress Change
74    Taiwan  1.90889  1.45707  1.07713             -0.83176
37   Eritrea  3.49881  3.57044  3.15862             -0.34019
24  Mongolia  4.05248  3.77356  3.84612             -0.20636
73   Somalia  1.94065  1.67655  1.74341             -0.19724
70   Ecuador  2.08521  1.91465  1.90397             -0.18124

In [24]:
tufte_All_Sectors_op_fl5 = tufte_All_Sectors_op[tufte_All_Sectors_op["Name"].isin(["Taiwan", "Eritrea", "Madagascar", "Ecuador", "Yemen", "Netherlands", "Honduras", "Albania", "Estonia", "Botswana"])]
tufte_All_Sectors_op_fl5_df = pd.DataFrame(tufte_All_Sectors_op_fl5)
print(tufte_All_Sectors_op_fl5_df.to_json(orient="records"))

[{"Name":"Taiwan","2020":1.90889,"2030":1.45707,"2040":1.07713,"Water Stress Change":-0.83176},{"Name":"Eritrea","2020":3.49881,"2030":3.57044,"2040":3.15862,"Water Stress Change":-0.34019},{"Name":"Ecuador","2020":2.08521,"2030":1.91465,"2040":1.90397,"Water Stress Change":-0.18124},{"Name":"Madagascar","2020":1.04098,"2030":0.871276,"2040":0.932084,"Water Stress Change":-0.108896},{"Name":"Yemen","2020":4.81451,"2030":4.77437,"2040":4.74134,"Water Stress Change":-0.07317},{"Name":"Botswana","2020":2.51196,"2030":2.56292,"2040":2.71051,"Water Stress Change":0.19855},{"Name":"Honduras","2020":0.396001,"2030":0.796738,"2040":1.17501,"Water Stress Change":0.779009},{"Name":"Albania","2020":2.35105,"2030":2.79142,"2040":3.20661,"Water Stress Change":0.85556},{"Name":"Netherlands","2020":1.86244,"2030":2.3086,"2040":2.7668,"Water Stress Change":0.90436},{"Name":"Estonia","2020":2.91312,"2030":3.45996,"2040":3.95221,"Water Stress Change":1.03909}]

In [20]:
# tufte_All_Sectors_op_df = pd.DataFrame(tufte_All_Sectors_op)
# # tufte_All_Sectors_op.to_csv("tufte_All_Sectors_op.csv")
# print(tufte_All_Sectors_op_df.to_json(orient="records"))

In [23]:
# tufte_All_Sectors_op_f5 = tufte_All_Sectors_op.head(5)
# tufte_All_Sectors_op_l5 = tufte_All_Sectors_op.tail(5)
# tufte_All_Sectors_op_fl5 = pd.concat([tufte_All_Sectors_op_f5, tufte_All_Sectors_op_l5])
# # tufte_All_Sectors_op_fl5
# tufte_All_Sectors_op_fl5_df = pd.DataFrame(tufte_All_Sectors_op_fl5)
# print(tufte_All_Sectors_op_fl5_df.to_json(orient="records"))

In [73]:
# tufte_All_Sectors_op_plot = tufte_All_Sectors_op.copy()
# tufte_All_Sectors_op_plot = tufte_All_Sectors_op_plot[['Name','2020', '2040']]
# tufte_All_Sectors_op_plot.head(10)

In [24]:
# df_All_Sectors_op = df_All_Sectors_op.sort_values('All sectors 2020 - 2040')
# df_All_Sectors_op.plot(x='Name', y='All sectors 2020 - 2040', kind='barh', figsize=(20,25))

In [25]:
df_All_Sectors_pe20 = df_2020pe.copy()
df_All_Sectors_pe20 = df_All_Sectors_pe20[['Name', 'All Sectors']]
df_All_Sectors_pe20 = df_All_Sectors_pe20.rename(columns={'All Sectors': '2020'})

df_All_Sectors_pe30 = df_2030pe.copy()
df_All_Sectors_pe30 = df_All_Sectors_pe30[['Name', 'All Sectors']]
df_All_Sectors_pe30 = df_All_Sectors_pe30.rename(columns={'All Sectors': '2030'})

df_All_Sectors_pe40 = df_2040pe.copy()
df_All_Sectors_pe40 = df_All_Sectors_pe40[['Name', 'All Sectors']]
df_All_Sectors_pe40 = df_All_Sectors_pe40.rename(columns={'All Sectors': '2040'})

df_All_Sectors_pe = pd.merge(df_All_Sectors_pe20, df_All_Sectors_pe30, on='Name')
df_All_Sectors_pe = pd.merge(df_All_Sectors_pe, df_All_Sectors_pe40, on='Name')

# df_All_Sectors_pe['2020 - 2030'] = df_All_Sectors_pe['2030'] - df_All_Sectors_pe['2020']
# df_All_Sectors_pe['2030 - 2040'] = df_All_Sectors_pe['2040'] - df_All_Sectors_pe['2030']
df_All_Sectors_pe['Water Stress Change'] = df_All_Sectors_pe['2040'] - df_All_Sectors_pe['2020']
# df_All_Sectors_pe = df_All_Sectors_pe[['Name', 'All sectors pessimistic 2040']]
# df_All_Sectors_pe.head()
df_All_Sectors_pe = df_All_Sectors_pe.sort_values('Water Stress Change', ascending=True)

In [26]:
tufte_All_Sectors_pe = df_All_Sectors_pe.copy()
# tufte_All_Sectors_pe['All sectors pessimistic 2020'] = 0
tufte_All_Sectors_pe.head(10)

               Name     2020      2030      2040  Water Stress Change
71           Taiwan  1.93949  1.425240  1.057020            -0.882470
35          Eritrea  3.60664  3.004460  3.071190            -0.535450
58   United Kingdom  2.58383  2.462290  2.304290            -0.279540
81           Sweden  1.59715  1.521590  1.372940            -0.224210
108            Chad  0.60688  0.463965  0.420568            -0.186312
92       Madagascar  1.15049  0.995276  0.964955            -0.185535
9             Yemen  4.91687  4.875620  4.743120            -0.173750
69          Ecuador  2.10517  1.967230  1.938230            -0.166940
78          Germany  1.76205  1.721160  1.620790            -0.141260
64            Japan  2.31049  2.291570  2.201190            -0.109300

In [29]:
tufte_All_Sectors_pe_fl5 = tufte_All_Sectors_pe[tufte_All_Sectors_pe["Name"].isin(["Taiwan", "Eritrea", "Madagascar", "Ecuador", "Yemen", "Netherlands", "Honduras", "Albania", "Estonia", "Botswana"])]
tufte_All_Sectors_pe_fl5_df = pd.DataFrame(tufte_All_Sectors_pe_fl5)
print(tufte_All_Sectors_pe_fl5_df.to_json(orient="records"))

[{"Name":"Taiwan","2020":1.93949,"2030":1.42524,"2040":1.05702,"Water Stress Change":-0.88247},{"Name":"Eritrea","2020":3.60664,"2030":3.00446,"2040":3.07119,"Water Stress Change":-0.53545},{"Name":"Madagascar","2020":1.15049,"2030":0.995276,"2040":0.964955,"Water Stress Change":-0.185535},{"Name":"Yemen","2020":4.91687,"2030":4.87562,"2040":4.74312,"Water Stress Change":-0.17375},{"Name":"Ecuador","2020":2.10517,"2030":1.96723,"2040":1.93823,"Water Stress Change":-0.16694},{"Name":"Netherlands","2020":1.81436,"2030":2.18824,"2040":2.51172,"Water Stress Change":0.69736},{"Name":"Honduras","2020":0.296113,"2030":0.641671,"2040":1.05115,"Water Stress Change":0.755037},{"Name":"Albania","2020":2.43004,"2030":2.9535,"2040":3.31509,"Water Stress Change":0.88505},{"Name":"Estonia","2020":2.95585,"2030":3.43723,"2040":3.87631,"Water Stress Change":0.92046},{"Name":"Botswana","2020":1.9351,"2030":2.36508,"2040":2.94191,"Water Stress Change":1.00681}]

In [27]:
# tufte_All_Sectors_pe_df = pd.DataFrame(tufte_All_Sectors_pe)
# # tufte_All_Sectors_pe.to_csv("tufte_All_Sectors_pe.csv")
# print(tufte_All_Sectors_pe_df.to_json(orient="records"))

In [28]:
# tufte_All_Sectors_pe_f5 = tufte_All_Sectors_pe.head(5)
# tufte_All_Sectors_pe_l5 = tufte_All_Sectors_pe.tail(5)
# tufte_All_Sectors_pe_fl5 = pd.concat([tufte_All_Sectors_pe_f5, tufte_All_Sectors_pe_l5])
# # tufte_All_Sectors_pe_fl5
# tufte_All_Sectors_pe_fl5_df = pd.DataFrame(tufte_All_Sectors_pe_fl5)
# print(tufte_All_Sectors_pe_fl5_df.to_json(orient="records"))

In [28]:
# df_All_Sectors_pe = df_All_Sectors_pe.sort_values('2020 - 2040')
# df_All_Sectors_pe.plot(x='Name', y='2020 - 2040', kind='barh', figsize=(20,25))

In [30]:
df_Industrial_BAU20 = df_2020BAU.copy()
df_Industrial_BAU20 = df_Industrial_BAU20[['Name', 'Industrial']]
df_Industrial_BAU20 = df_Industrial_BAU20.rename(columns={'Industrial': '2020'})

df_Industrial_BAU30 = df_2030BAU.copy()
df_Industrial_BAU30 = df_Industrial_BAU30[['Name', 'Industrial']]
df_Industrial_BAU30 = df_Industrial_BAU30.rename(columns={'Industrial': '2030'})

df_Industrial_BAU40 = df_2040BAU.copy()
df_Industrial_BAU40 = df_Industrial_BAU40[['Name', 'Industrial']]
df_Industrial_BAU40 = df_Industrial_BAU40.rename(columns={'Industrial': '2040'})

df_Industrial_BAU = pd.merge(df_Industrial_BAU20, df_Industrial_BAU30, on='Name')
df_Industrial_BAU = pd.merge(df_Industrial_BAU, df_Industrial_BAU40, on='Name')
# df_Industrial_BAU.head()

# df_Industrial_BAU['2020 - 2030'] = df_Industrial_BAU['2030'] - df_Industrial_BAU['2020']
# df_Industrial_BAU['2030 - 2040'] = df_Industrial_BAU['2040'] - df_Industrial_BAU['2030']
df_Industrial_BAU['Water Stress Change'] = df_Industrial_BAU['2040'] - df_Industrial_BAU['2020']
# df_Industrial_BAU = df_Industrial_BAU[['Name', 'Industrial BAU 2020 - 2040']]
# df_Industrial_BAU.head()
df_Industrial_BAU = df_Industrial_BAU.sort_values('Water Stress Change', ascending=True)

In [31]:
tufte_Industrial_BAU = df_Industrial_BAU.copy()
# tufte_Industrial_BAU['Industrial BAU 2020'] = 0
tufte_Industrial_BAU.head(10)

               Name      2020      2030      2040  Water Stress Change
72           Taiwan  1.866070  1.412840  0.956115            -0.909955
35          Eritrea  3.634010  3.546180  2.895900            -0.738110
11            Libya  4.877770  4.522690  4.603240            -0.274530
9             Yemen  4.866530  4.770390  4.656480            -0.210050
58   United Kingdom  2.569230  2.478990  2.381640            -0.187590
69          Ecuador  1.450500  1.315600  1.281070            -0.169430
105         Uruguay  0.842800  0.753894  0.699705            -0.143095
92       Madagascar  0.634964  0.531018  0.529914            -0.105050
65            Japan  2.249450  2.234330  2.154950            -0.094500
119        Cambodia  0.613482  0.572942  0.522673            -0.090809

In [32]:
# tufte_Industrial_BAU_df = pd.DataFrame(tufte_Industrial_BAU)
# print(tufte_Industrial_BAU_df.to_json(orient="records"))

In [33]:
# tufte_Industrial_BAU_f5 = tufte_Industrial_BAU.head(5)
# tufte_Industrial_BAU_l5 = tufte_Industrial_BAU.tail(5)
# tufte_Industrial_BAU_fl5 = pd.concat([tufte_Industrial_BAU_f5, tufte_Industrial_BAU_l5])
# # tufte_Industrial_BAU_fl5
# tufte_Industrial_BAU_fl5_df = pd.DataFrame(tufte_Industrial_BAU_fl5)
# print(tufte_Industrial_BAU_fl5_df.to_json(orient="records"))

In [34]:
tufte_Industrial_BAU_fl5 = tufte_Industrial_BAU[tufte_Industrial_BAU["Name"].isin(["Taiwan", "Eritrea", "Libya", "Yemen", "United Kingdom", "Algeria", "Senegal", "Estonia", "Sri Lanka", "Botswana"])]
tufte_Industrial_BAU_fl5_df = pd.DataFrame(tufte_Industrial_BAU_fl5)
print(tufte_Industrial_BAU_fl5_df.to_json(orient="records"))

[{"Name":"Taiwan","2020":1.86607,"2030":1.41284,"2040":0.956115,"Water Stress Change":-0.909955},{"Name":"Eritrea","2020":3.63401,"2030":3.54618,"2040":2.8959,"Water Stress Change":-0.73811},{"Name":"Libya","2020":4.87777,"2030":4.52269,"2040":4.60324,"Water Stress Change":-0.27453},{"Name":"Yemen","2020":4.86653,"2030":4.77039,"2040":4.65648,"Water Stress Change":-0.21005},{"Name":"United Kingdom","2020":2.56923,"2030":2.47899,"2040":2.38164,"Water Stress Change":-0.18759},{"Name":"Algeria","2020":3.42523,"2030":3.87736,"2040":4.32415,"Water Stress Change":0.89892},{"Name":"Senegal","2020":0.507212,"2030":1.00315,"2040":1.41421,"Water Stress Change":0.906998},{"Name":"Estonia","2020":2.97451,"2030":3.46707,"2040":3.92009,"Water Stress Change":0.94558},{"Name":"Sri Lanka","2020":2.26714,"2030":2.75324,"2040":3.23023,"Water Stress Change":0.96309},{"Name":"Botswana","2020":2.36039,"2030":2.71477,"2040":3.40796,"Water Stress Change":1.04757}]

In [32]:
# df_Industrial_BAU = df_Industrial_BAU.sort_values('2020 - 2040')
# df_Industrial_BAU.plot(x='Name', y='2020 - 2040', kind='barh', figsize=(20,25))

In [35]:
df_Industrial_op20 = df_2020op.copy()
df_Industrial_op20 = df_Industrial_op20[['Name', 'Industrial']]
df_Industrial_op20 = df_Industrial_op20.rename(columns={'Industrial': '2020'})

df_Industrial_op30 = df_2030op.copy()
df_Industrial_op30 = df_Industrial_op30[['Name', 'Industrial']]
df_Industrial_op30 = df_Industrial_op30.rename(columns={'Industrial': '2030'})

df_Industrial_op40 = df_2040op.copy()
df_Industrial_op40 = df_Industrial_op40[['Name', 'Industrial']]
df_Industrial_op40 = df_Industrial_op40.rename(columns={'Industrial': '2040'})

df_Industrial_op = pd.merge(df_Industrial_op20, df_Industrial_op30, on='Name')
df_Industrial_op = pd.merge(df_Industrial_op, df_Industrial_op40, on='Name')
# df_Industrial_op.head()

# df_Industrial_op['2020 - 2030'] = df_Industrial_op['2030'] - df_Industrial_op['2020']
# df_Industrial_op['2030 - 2040'] = df_Industrial_op['2040'] - df_Industrial_op['2030']
df_Industrial_op['Water Stress Change'] = df_Industrial_op['2040'] - df_Industrial_op['2020']
# df_Industrial_op = df_Industrial_op[['Name', 'Industrial 2020 - 2040']]
# df_Industrial_op.head()
df_Industrial_op = df_Industrial_op.sort_values('Water Stress Change', ascending=True)

In [36]:
tufte_Industrial_Optimistic = df_Industrial_op.copy()
# tufte_Industrial_Optimistic['Industrial Optimistic 2020'] = 0
tufte_Industrial_Optimistic.head(10)

               Name      2020      2030      2040  Water Stress Change
74           Taiwan  1.804840  1.332640  0.904385            -0.900455
24         Mongolia  4.547000  4.002030  4.041850            -0.505150
37          Eritrea  3.524720  3.593100  3.072580            -0.452140
73          Somalia  1.897000  1.582220  1.664010            -0.232990
10            Libya  4.878160  4.508030  4.656870            -0.221290
60   United Kingdom  2.578990  2.448800  2.422260            -0.156730
70          Ecuador  1.438030  1.308860  1.290870            -0.147160
66            Japan  2.257390  2.228260  2.154990            -0.102400
12            Yemen  4.744110  4.699080  4.674580            -0.069530
119        Cambodia  0.607035  0.578022  0.541777            -0.065258

In [37]:
# tufte_Industrial_Optimistic_df = pd.DataFrame(tufte_Industrial_Optimistic)
# print(tufte_Industrial_Optimistic_df.to_json(orient="records"))

In [38]:
# tufte_Industrial_Optimistic_f5 = tufte_Industrial_Optimistic.head(5)
# tufte_Industrial_Optimistic_l5 = tufte_Industrial_Optimistic.tail(5)
# tufte_Industrial_Optimistic_fl5 = pd.concat([tufte_Industrial_Optimistic_f5, tufte_Industrial_Optimistic_l5])
# # tufte_Industrial_Optimistic_fl5
# tufte_Industrial_Optimistic_fl5_df = pd.DataFrame(tufte_Industrial_Optimistic_fl5)
# print(tufte_Industrial_Optimistic_fl5_df.to_json(orient="records"))

In [39]:
tufte_Industrial_Optimistic_fl5 = tufte_Industrial_Optimistic[tufte_Industrial_Optimistic["Name"].isin(["Taiwan", "Eritrea", "Libya", "Yemen", "United Kingdom", "Algeria", "Senegal", "Estonia", "Sri Lanka", "Botswana"])]
tufte_Industrial_Optimistic_fl5_df = pd.DataFrame(tufte_Industrial_Optimistic_fl5)
print(tufte_Industrial_Optimistic_fl5_df.to_json(orient="records"))

[{"Name":"Taiwan","2020":1.80484,"2030":1.33264,"2040":0.904385,"Water Stress Change":-0.900455},{"Name":"Eritrea","2020":3.52472,"2030":3.5931,"2040":3.07258,"Water Stress Change":-0.45214},{"Name":"Libya","2020":4.87816,"2030":4.50803,"2040":4.65687,"Water Stress Change":-0.22129},{"Name":"United Kingdom","2020":2.57899,"2030":2.4488,"2040":2.42226,"Water Stress Change":-0.15673},{"Name":"Yemen","2020":4.74411,"2030":4.69908,"2040":4.67458,"Water Stress Change":-0.06953},{"Name":"Botswana","2020":3.00642,"2030":3.0245,"2040":3.21917,"Water Stress Change":0.21275},{"Name":"Algeria","2020":3.49649,"2030":3.8815,"2040":4.20048,"Water Stress Change":0.70399},{"Name":"Senegal","2020":0.642126,"2030":1.08992,"2040":1.52573,"Water Stress Change":0.883604},{"Name":"Sri Lanka","2020":2.32338,"2030":2.75936,"2040":3.25181,"Water Stress Change":0.92843},{"Name":"Estonia","2020":2.92369,"2030":3.46791,"2040":3.95807,"Water Stress Change":1.03438}]

In [36]:
# df_Industrial_op = df_Industrial_op.sort_values('2020 - 2040')
# df_Industrial_op.plot(x='Name', y='2020 - 2040', kind='barh', figsize=(20,25))

In [40]:
df_Industrial_pe20 = df_2020pe.copy()
df_Industrial_pe20 = df_Industrial_pe20[['Name', 'Industrial']]
df_Industrial_pe20 = df_Industrial_pe20.rename(columns={'Industrial': '2020'})

df_Industrial_pe30 = df_2030pe.copy()
df_Industrial_pe30 = df_Industrial_pe30[['Name', 'Industrial']]
df_Industrial_pe30 = df_Industrial_pe30.rename(columns={'Industrial': '2030'})

df_Industrial_pe40 = df_2040pe.copy()
df_Industrial_pe40 = df_Industrial_pe40[['Name', 'Industrial']]
df_Industrial_pe40 = df_Industrial_pe40.rename(columns={'Industrial': '2040'})

df_Industrial_pe = pd.merge(df_Industrial_pe20, df_Industrial_pe30, on='Name')
df_Industrial_pe = pd.merge(df_Industrial_pe, df_Industrial_pe40, on='Name')
# df_Industrial_pe.head()

# df_Industrial_pe['2020 - 2030'] = df_Industrial_pe['2030'] - df_Industrial_pe['2020']
# df_Industrial_pe['2030 - 2040'] = df_Industrial_pe['2040'] - df_Industrial_pe['2030']
df_Industrial_pe['Water Stress Change'] = df_Industrial_pe['2040'] - df_Industrial_pe['2020']
# df_Industrial_pe = df_Industrial_pe[['Name', 'Industrial 2020 - 2040']]
# df_Industrial_pe.head()
df_Industrial_pe = df_Industrial_pe.sort_values('Water Stress Change', ascending=True)

In [41]:
tufte_Industrial_pessimistic = df_Industrial_pe.copy()
# tufte_Industrial_pessimistic['Industrial pessimistic 2020'] = 0
tufte_Industrial_pessimistic.head(10)

               Name     2020      2030      2040  Water Stress Change
71           Taiwan  1.81870  1.259290  0.831492            -0.987208
35          Eritrea  3.62988  2.913720  2.922270            -0.707610
58   United Kingdom  2.58850  2.464470  2.303690            -0.284810
11            Libya  4.88141  4.556220  4.636880            -0.244530
81           Sweden  1.62543  1.552460  1.406030            -0.219400
9             Yemen  4.81143  4.763120  4.648080            -0.163350
105         Uruguay  0.85172  0.749699  0.699703            -0.152017
69          Ecuador  1.44210  1.322820  1.297700            -0.144400
64            Japan  2.24566  2.213910  2.104530            -0.141130
78          Germany  1.76083  1.720350  1.621240            -0.139590

In [42]:
# tufte_Industrial_pessimistic_df = pd.DataFrame(tufte_Industrial_pessimistic)
# print(tufte_Industrial_pessimistic_df.to_json(orient="records"))

In [43]:
# tufte_Industrial_pessimistic_f5 = tufte_Industrial_pessimistic.head(5)
# tufte_Industrial_pessimistic_l5 = tufte_Industrial_pessimistic.tail(5)
# tufte_Industrial_pessimistic_fl5 = pd.concat([tufte_Industrial_pessimistic_f5, tufte_Industrial_pessimistic_l5])
# # tufte_Industrial_pessimistic_fl5
# tufte_Industrial_pessimistic_fl5_df = pd.DataFrame(tufte_Industrial_pessimistic_fl5)
# print(tufte_Industrial_pessimistic_fl5_df.to_json(orient="records"))

In [44]:
tufte_Industrial_pessimistic_fl5 = tufte_Industrial_pessimistic[tufte_Industrial_pessimistic["Name"].isin(["Taiwan", "Eritrea", "Libya", "Yemen", "United Kingdom", "Algeria", "Senegal", "Estonia", "Sri Lanka", "Botswana"])]
tufte_Industrial_pessimistic_fl5_df = pd.DataFrame(tufte_Industrial_pessimistic_fl5)
print(tufte_Industrial_pessimistic_fl5_df.to_json(orient="records"))

[{"Name":"Taiwan","2020":1.8187,"2030":1.25929,"2040":0.831492,"Water Stress Change":-0.987208},{"Name":"Eritrea","2020":3.62988,"2030":2.91372,"2040":2.92227,"Water Stress Change":-0.70761},{"Name":"United Kingdom","2020":2.5885,"2030":2.46447,"2040":2.30369,"Water Stress Change":-0.28481},{"Name":"Libya","2020":4.88141,"2030":4.55622,"2040":4.63688,"Water Stress Change":-0.24453},{"Name":"Yemen","2020":4.81143,"2030":4.76312,"2040":4.64808,"Water Stress Change":-0.16335},{"Name":"Sri Lanka","2020":2.26963,"2030":2.71892,"2040":3.10081,"Water Stress Change":0.83118},{"Name":"Senegal","2020":0.513516,"2030":0.988692,"2040":1.38089,"Water Stress Change":0.867374},{"Name":"Estonia","2020":2.96664,"2030":3.44514,"2040":3.88204,"Water Stress Change":0.9154},{"Name":"Algeria","2020":3.45229,"2030":3.94444,"2040":4.38084,"Water Stress Change":0.92855},{"Name":"Botswana","2020":2.31555,"2030":2.7267,"2040":3.39781,"Water Stress Change":1.08226}]

In [40]:
# df_Industrial_pe = df_Industrial_pe.sort_values('2020 - 2040')
# df_Industrial_pe.plot(x='Name', y='2020 - 2040', kind='barh', figsize=(20,25))

In [45]:
df_Domestic_BAU20 = df_2020BAU.copy()
df_Domestic_BAU20 = df_Domestic_BAU20[['Name', 'Domestic']]
df_Domestic_BAU20 = df_Domestic_BAU20.rename(columns={'Domestic': '2020'})

df_Domestic_BAU30 = df_2030BAU.copy()
df_Domestic_BAU30 = df_Domestic_BAU30[['Name', 'Domestic']]
df_Domestic_BAU30 = df_Domestic_BAU30.rename(columns={'Domestic': '2030'})

df_Domestic_BAU40 = df_2040BAU.copy()
df_Domestic_BAU40 = df_Domestic_BAU40[['Name', 'Domestic']]
df_Domestic_BAU40 = df_Domestic_BAU40.rename(columns={'Domestic': '2040'})

df_Domestic_BAU = pd.merge(df_Domestic_BAU20, df_Domestic_BAU30, on='Name')
df_Domestic_BAU = pd.merge(df_Domestic_BAU, df_Domestic_BAU40, on='Name')
# df_Domestic_BAU.head()

# df_Domestic_BAU['2020 - 2030'] = df_Domestic_BAU['2030'] - df_Domestic_BAU['2020']
# df_Domestic_BAU['2030 - 2040'] = df_Domestic_BAU['2040'] - df_Domestic_BAU['2030']
df_Domestic_BAU['Water Stress Change'] = df_Domestic_BAU['2040'] - df_Domestic_BAU['2020']
# df_Domestic_BAU = df_Domestic_BAU[['Name', 'Domestic 2020 - 2040']]
# df_Domestic_BAU.head()
df_Domestic_BAU = df_Domestic_BAU.sort_values('Water Stress Change', ascending=True)

In [46]:
tufte_Domestic_BAU = df_Domestic_BAU.copy()
# tufte_Domestic_BAU['Domestic BAU 2020'] = 0
tufte_Domestic_BAU.head(10)

               Name      2020      2030      2040  Water Stress Change
72           Taiwan  1.841190  1.397760  0.950572            -0.890618
35          Eritrea  3.595420  3.536370  2.889460            -0.705960
11            Libya  4.858640  4.515100  4.597200            -0.261440
9             Yemen  4.861230  4.759430  4.625320            -0.235910
58   United Kingdom  2.555520  2.467710  2.372400            -0.183120
69          Ecuador  1.439210  1.308840  1.276990            -0.162220
105         Uruguay  0.833003  0.747158  0.695962            -0.137041
92       Madagascar  0.628358  0.524677  0.520226            -0.108132
65            Japan  2.230120  2.218120  2.141950            -0.088170
78          Germany  1.773160  1.757110  1.697560            -0.075600

In [49]:
tufte_Domestic_BAU_fl5 = tufte_Domestic_BAU[tufte_Domestic_BAU["Name"].isin(["Taiwan", "Eritrea", "Libya", "Yemen", "United Kingdom", "Senegal", "Algeria", "Sri Lanka", "Estonia", "Botswana"])]
tufte_Domestic_BAU_fl5_df = pd.DataFrame(tufte_Domestic_BAU_fl5)
print(tufte_Domestic_BAU_fl5_df.to_json(orient="records"))

[{"Name":"Taiwan","2020":1.84119,"2030":1.39776,"2040":0.950572,"Water Stress Change":-0.890618},{"Name":"Eritrea","2020":3.59542,"2030":3.53637,"2040":2.88946,"Water Stress Change":-0.70596},{"Name":"Libya","2020":4.85864,"2030":4.5151,"2040":4.5972,"Water Stress Change":-0.26144},{"Name":"Yemen","2020":4.86123,"2030":4.75943,"2040":4.62532,"Water Stress Change":-0.23591},{"Name":"United Kingdom","2020":2.55552,"2030":2.46771,"2040":2.3724,"Water Stress Change":-0.18312},{"Name":"Senegal","2020":0.464926,"2030":0.954975,"2040":1.35465,"Water Stress Change":0.889724},{"Name":"Algeria","2020":3.38676,"2030":3.83982,"2040":4.28712,"Water Stress Change":0.90036},{"Name":"Sri Lanka","2020":2.31711,"2030":2.77952,"2040":3.23971,"Water Stress Change":0.9226},{"Name":"Estonia","2020":2.85702,"2030":3.34628,"2040":3.8028,"Water Stress Change":0.94578},{"Name":"Botswana","2020":2.22563,"2030":2.69931,"2040":3.30289,"Water Stress Change":1.07726}]

In [47]:
# tufte_Domestic_BAU_df = pd.DataFrame(tufte_Domestic_BAU)
# print(tufte_Domestic_BAU_df.to_json(orient="records"))

In [48]:
# tufte_Domestic_BAU_f5 = tufte_Domestic_BAU.head(5)
# tufte_Domestic_BAU_l5 = tufte_Domestic_BAU.tail(5)
# tufte_Domestic_BAU_fl5 = pd.concat([tufte_Domestic_BAU_f5, tufte_Domestic_BAU_l5])
# # tufte_Domestic_BAU_fl5
# tufte_Domestic_BAU_fl5_df = pd.DataFrame(tufte_Domestic_BAU_fl5)
# print(tufte_Domestic_BAU_fl5_df.to_json(orient="records"))

In [44]:
# df_Domestic_BAU = df_Domestic_BAU.sort_values('2020 - 2040')
# df_Domestic_BAU.plot(x='Name', y='2020 - 2040', kind='barh', figsize=(20,25))

In [51]:
df_Domestic_op20 = df_2020op.copy()
df_Domestic_op20 = df_Domestic_op20[['Name', 'Domestic']]
df_Domestic_op20 = df_Domestic_op20.rename(columns={'Domestic': '2020'})

df_Domestic_op30 = df_2030op.copy()
df_Domestic_op30 = df_Domestic_op30[['Name', 'Domestic']]
df_Domestic_op30 = df_Domestic_op30.rename(columns={'Domestic': '2030'})

df_Domestic_op40 = df_2040op.copy()
df_Domestic_op40 = df_Domestic_op40[['Name', 'Domestic']]
df_Domestic_op40 = df_Domestic_op40.rename(columns={'Domestic': '2040'})

df_Domestic_op = pd.merge(df_Domestic_op20, df_Domestic_op30, on='Name')
df_Domestic_op = pd.merge(df_Domestic_op, df_Domestic_op40, on='Name')
# df_Domestic_op.head()

# df_Domestic_op['2020 - 2030'] = df_Domestic_op['2030'] - df_Domestic_op['2020']
# df_Domestic_op['2030 - 2040'] = df_Domestic_op['2040'] - df_Domestic_op['2030']
df_Domestic_op['Water Stress Change'] = df_Domestic_op['2040'] - df_Domestic_op['2020']
# df_Domestic_op = df_Domestic_op[['Name', 'Domestic 2020 - 2040']]
# df_Domestic_op.head()
df_Domestic_op = df_Domestic_op.sort_values('Water Stress Change', ascending=True)

In [52]:
tufte_Domestic_Optimistic = df_Domestic_op.copy()
# tufte_Domestic_Optimistic['Domestic Optimistic 2020'] = 0
tufte_Domestic_Optimistic.head(10)

              Name     2020     2030      2040  Water Stress Change
74          Taiwan  1.78036  1.31864  0.899467            -0.880893
24        Mongolia  4.48078  3.99599  4.034870            -0.445910
37         Eritrea  3.48919  3.58367  3.075770            -0.413420
73         Somalia  2.09090  1.77213  1.810360            -0.280540
10           Libya  4.85960  4.50046  4.650170            -0.209430
60  United Kingdom  2.56521  2.43755  2.412860            -0.152350
70         Ecuador  1.42795  1.30233  1.286370            -0.141580
66           Japan  2.23777  2.21191  2.141660            -0.096110
12           Yemen  4.71948  4.66737  4.641170            -0.078310
88           Egypt  2.31227  2.28347  2.241920            -0.070350

In [55]:
tufte_Domestic_Optimistic_fl5 = tufte_Domestic_Optimistic[tufte_Domestic_Optimistic["Name"].isin(["Taiwan", "Eritrea", "Libya", "Yemen", "United Kingdom", "Senegal", "Algeria", "Sri Lanka", "Estonia", "Botswana"])]
tufte_Domestic_Optimistic_fl5_df = pd.DataFrame(tufte_Domestic_Optimistic_fl5)
print(tufte_Domestic_Optimistic_fl5_df.to_json(orient="records"))

[{"Name":"Taiwan","2020":1.78036,"2030":1.31864,"2040":0.899467,"Water Stress Change":-0.880893},{"Name":"Eritrea","2020":3.48919,"2030":3.58367,"2040":3.07577,"Water Stress Change":-0.41342},{"Name":"Libya","2020":4.8596,"2030":4.50046,"2040":4.65017,"Water Stress Change":-0.20943},{"Name":"United Kingdom","2020":2.56521,"2030":2.43755,"2040":2.41286,"Water Stress Change":-0.15235},{"Name":"Yemen","2020":4.71948,"2030":4.66737,"2040":4.64117,"Water Stress Change":-0.07831},{"Name":"Botswana","2020":2.81311,"2030":2.80141,"2040":2.93386,"Water Stress Change":0.12075},{"Name":"Algeria","2020":3.4588,"2030":3.84583,"2040":4.165,"Water Stress Change":0.7062},{"Name":"Senegal","2020":0.590783,"2030":1.0356,"2040":1.458,"Water Stress Change":0.867217},{"Name":"Sri Lanka","2020":2.37148,"2030":2.78493,"2040":3.26172,"Water Stress Change":0.89024},{"Name":"Estonia","2020":2.80478,"2030":3.34518,"2040":3.84012,"Water Stress Change":1.03534}]

In [53]:
# tufte_Domestic_Optimistic_df = pd.DataFrame(tufte_Domestic_Optimistic)
# print(tufte_Domestic_Optimistic_df.to_json(orient="records"))

In [54]:
# tufte_Domestic_Optimistic_f5 = tufte_Domestic_Optimistic.head(5)
# tufte_Domestic_Optimistic_l5 = tufte_Domestic_Optimistic.tail(5)
# tufte_Domestic_Optimistic_fl5 = pd.concat([tufte_Domestic_Optimistic_f5, tufte_Domestic_Optimistic_l5])
# # tufte_Domestic_Optimistic_fl5
# tufte_Domestic_Optimistic_fl5_df = pd.DataFrame(tufte_Domestic_Optimistic_fl5)
# print(tufte_Domestic_Optimistic_fl5_df.to_json(orient="records"))

In [48]:
# df_Domestic_op = df_Domestic_op.sort_values('2020 - 2040')
# df_Domestic_op.plot(x='Name', y='2020 - 2040', kind='barh', figsize=(20,25))

In [56]:
df_Domestic_pe20 = df_2020pe.copy()
df_Domestic_pe20 = df_Domestic_pe20[['Name', 'Domestic']]
df_Domestic_pe20 = df_Domestic_pe20.rename(columns={'Domestic': '2020'})

df_Domestic_pe30 = df_2030pe.copy()
df_Domestic_pe30 = df_Domestic_pe30[['Name', 'Domestic']]
df_Domestic_pe30 = df_Domestic_pe30.rename(columns={'Domestic': '2030'})

df_Domestic_pe40 = df_2040pe.copy()
df_Domestic_pe40 = df_Domestic_pe40[['Name', 'Domestic']]
df_Domestic_pe40 = df_Domestic_pe40.rename(columns={'Domestic': '2040'})

df_Domestic_pe = pd.merge(df_Domestic_pe20, df_Domestic_pe30, on='Name')
df_Domestic_pe = pd.merge(df_Domestic_pe, df_Domestic_pe40, on='Name')
# df_Domestic_pe.head()

# df_Domestic_pe['2020 - 2030'] = df_Domestic_pe['2030'] - df_Domestic_pe['2020']
# df_Domestic_pe['2030 - 2040'] = df_Domestic_pe['2040'] - df_Domestic_pe['2030']
df_Domestic_pe['Water Stress Change'] = df_Domestic_pe['2040'] - df_Domestic_pe['2020']
# df_Domestic_pe = df_Domestic_pe[['Name', 'Domestic 2020 - 2040']]
# df_Domestic_pe.head()
df_Domestic_pe = df_Domestic_pe.sort_values('Water Stress Change', ascending=True)

In [57]:
tufte_Domestic_pessimistic = df_Domestic_op.copy()
# tufte_Domestic_pessimistic['Domestic pessimistic 2020'] = 0
tufte_Domestic_pessimistic.head(10)

              Name     2020     2030      2040  Water Stress Change
74          Taiwan  1.78036  1.31864  0.899467            -0.880893
24        Mongolia  4.48078  3.99599  4.034870            -0.445910
37         Eritrea  3.48919  3.58367  3.075770            -0.413420
73         Somalia  2.09090  1.77213  1.810360            -0.280540
10           Libya  4.85960  4.50046  4.650170            -0.209430
60  United Kingdom  2.56521  2.43755  2.412860            -0.152350
70         Ecuador  1.42795  1.30233  1.286370            -0.141580
66           Japan  2.23777  2.21191  2.141660            -0.096110
12           Yemen  4.71948  4.66737  4.641170            -0.078310
88           Egypt  2.31227  2.28347  2.241920            -0.070350

In [60]:
tufte_Domestic_pessimistic_fl5 = tufte_Domestic_pessimistic[tufte_Domestic_pessimistic["Name"].isin(["Taiwan", "Eritrea", "Libya", "Yemen", "United Kingdom", "Senegal", "Algeria", "Sri Lanka", "Estonia", "Botswana"])]
tufte_Domestic_pessimistic_fl5_df = pd.DataFrame(tufte_Domestic_pessimistic_fl5)
print(tufte_Domestic_pessimistic_fl5_df.to_json(orient="records"))

[{"Name":"Taiwan","2020":1.78036,"2030":1.31864,"2040":0.899467,"Water Stress Change":-0.880893},{"Name":"Eritrea","2020":3.48919,"2030":3.58367,"2040":3.07577,"Water Stress Change":-0.41342},{"Name":"Libya","2020":4.8596,"2030":4.50046,"2040":4.65017,"Water Stress Change":-0.20943},{"Name":"United Kingdom","2020":2.56521,"2030":2.43755,"2040":2.41286,"Water Stress Change":-0.15235},{"Name":"Yemen","2020":4.71948,"2030":4.66737,"2040":4.64117,"Water Stress Change":-0.07831},{"Name":"Botswana","2020":2.81311,"2030":2.80141,"2040":2.93386,"Water Stress Change":0.12075},{"Name":"Algeria","2020":3.4588,"2030":3.84583,"2040":4.165,"Water Stress Change":0.7062},{"Name":"Senegal","2020":0.590783,"2030":1.0356,"2040":1.458,"Water Stress Change":0.867217},{"Name":"Sri Lanka","2020":2.37148,"2030":2.78493,"2040":3.26172,"Water Stress Change":0.89024},{"Name":"Estonia","2020":2.80478,"2030":3.34518,"2040":3.84012,"Water Stress Change":1.03534}]

In [58]:
# tufte_Domestic_pessimistic_df = pd.DataFrame(tufte_Domestic_pessimistic)
# print(tufte_Domestic_pessimistic_df.to_json(orient="records"))

In [59]:
# tufte_Domestic_pessimistic_f5 = tufte_Domestic_pessimistic.head(5)
# tufte_Domestic_pessimistic_l5 = tufte_Domestic_pessimistic.tail(5)
# tufte_Domestic_pessimistic_fl5 = pd.concat([tufte_Domestic_pessimistic_f5, tufte_Domestic_pessimistic_l5])
# # tufte_Domestic_pessimistic_fl5
# tufte_Domestic_pessimistic_fl5_df = pd.DataFrame(tufte_Domestic_pessimistic_fl5)
# print(tufte_Domestic_pessimistic_fl5_df.to_json(orient="records"))

In [52]:
# df_Domestic_pe = df_Domestic_pe.sort_values('2020 - 2040')
# df_Domestic_pe.plot(x='Name', y='2020 - 2040', kind='barh', figsize=(20,25))

In [61]:
import numpy as np

In [62]:
df_Agricultural_BAU20 = df_2020BAU.copy()
df_Agricultural_BAU20 = df_Agricultural_BAU20[['Name', 'Agricultural']]
df_Agricultural_BAU20 = df_Agricultural_BAU20.rename(columns={'Agricultural': '2020'})

df_Agricultural_BAU30 = df_2030BAU.copy()
df_Agricultural_BAU30 = df_Agricultural_BAU30[['Name', 'Agricultural']]
df_Agricultural_BAU30 = df_Agricultural_BAU30.rename(columns={'Agricultural': '2030'})

df_Agricultural_BAU40 = df_2040BAU.copy()
df_Agricultural_BAU40 = df_Agricultural_BAU40[['Name', 'Agricultural']]
df_Agricultural_BAU40 = df_Agricultural_BAU40.rename(columns={'Agricultural': '2040'})

df_Agricultural_BAU = pd.merge(df_Agricultural_BAU20, df_Agricultural_BAU30, on='Name')
df_Agricultural_BAU = pd.merge(df_Agricultural_BAU, df_Agricultural_BAU40, on='Name')
# df_Agricultural_BAU.head()

In [63]:
df_Agricultural_BAU['2020'] = df_Agricultural_BAU['2020'].replace('No data', np.nan)
df_Agricultural_BAU['2030'] = df_Agricultural_BAU['2030'].replace('No data', np.nan)
df_Agricultural_BAU['2040'] = df_Agricultural_BAU['2040'].replace('No data', np.nan)
# df_Agricultural_BAU.head()

In [64]:
# df_Agricultural_BAU['2020 - 2030'] = df_Agricultural_BAU['2030'] - df_Agricultural_BAU['2020']
# df_Agricultural_BAU['2030 - 2040'] = df_Agricultural_BAU['2040'] - df_Agricultural_BAU['2030']
df_Agricultural_BAU['Water Stress Change'] = df_Agricultural_BAU['2040'] - df_Agricultural_BAU['2020']
# df_Agricultural_BAU = df_Agricultural_BAU[['Name', 'Agricultural 2020 - 2040']]
# df_Agricultural_BAU.head()
df_Agricultural_BAU = df_Agricultural_BAU.sort_values('Water Stress Change', ascending=True)

In [65]:
tufte_Agricultural_BAU = df_Agricultural_BAU.copy()
# tufte_Agricultural_BAU['Agricultural BAU 2020'] = 0
tufte_Agricultural_BAU.head(10)

           Name      2020      2030      2040  Water Stress Change
72       Taiwan  2.412240  1.975700  1.599750            -0.812490
35      Eritrea  3.646550  3.478610  3.053570            -0.592980
81     Bulgaria  3.045000  2.860650  2.689880            -0.355120
92   Madagascar  1.170410  0.971029  0.922505            -0.247905
69      Ecuador  2.270430  2.090650  2.035890            -0.234540
9         Yemen  4.956990  4.884670  4.751900            -0.205090
42         Peru  3.386420  3.188780  3.205930            -0.180490
86      Finland  0.706038  0.628972  0.540485            -0.165553
94      Vietnam  1.043350  1.010920  0.947823            -0.095527
119    Cambodia  0.457070  0.415096  0.372082            -0.084988

In [83]:
print(tufte_Agricultural_BAU.head(5))
print(tufte_Agricultural_BAU.tail(7))

          Name     2020      2030      2040  Water Stress Change
72      Taiwan  2.41224  1.975700  1.599750            -0.812490
35     Eritrea  3.64655  3.478610  3.053570            -0.592980
81    Bulgaria  3.04500  2.860650  2.689880            -0.355120
92  Madagascar  1.17041  0.971029  0.922505            -0.247905
69     Ecuador  2.27043  2.090650  2.035890            -0.234540
            Name      2020     2030     2040  Water Stress Change
76   Netherlands  1.917200  2.34517  2.75123             0.834030
31         Chile  3.569590  4.01705  4.41050             0.840910
62       Albania  2.323010  2.84478  3.21503             0.892020
128     Honduras  0.432639  0.86012  1.33305             0.900411
115    Guatemala  0.718591  1.13432  1.67642             0.957829
4      Singapore       NaN      NaN      NaN                  NaN
161      Iceland       NaN      NaN      NaN                  NaN

In [84]:
tufte_Agricultural_BAU_fl5 = tufte_Agricultural_BAU[tufte_Agricultural_BAU["Name"].isin(["Taiwan", "Eritrea", "Bulgaria", "Madagascar", "Ecuador", "Netherlands", "Chile", "Albania", "Honduras", "Guatemala"])]
tufte_Agricultural_BAU_fl5_df = pd.DataFrame(tufte_Agricultural_BAU_fl5)
print(tufte_Agricultural_BAU_fl5_df.to_json(orient="records"))

[{"Name":"Taiwan","2020":2.41224,"2030":1.9757,"2040":1.59975,"Water Stress Change":-0.81249},{"Name":"Eritrea","2020":3.64655,"2030":3.47861,"2040":3.05357,"Water Stress Change":-0.59298},{"Name":"Bulgaria","2020":3.045,"2030":2.86065,"2040":2.68988,"Water Stress Change":-0.35512},{"Name":"Madagascar","2020":1.17041,"2030":0.971029,"2040":0.922505,"Water Stress Change":-0.247905},{"Name":"Ecuador","2020":2.27043,"2030":2.09065,"2040":2.03589,"Water Stress Change":-0.23454},{"Name":"Netherlands","2020":1.9172,"2030":2.34517,"2040":2.75123,"Water Stress Change":0.83403},{"Name":"Chile","2020":3.56959,"2030":4.01705,"2040":4.4105,"Water Stress Change":0.84091},{"Name":"Albania","2020":2.32301,"2030":2.84478,"2040":3.21503,"Water Stress Change":0.89202},{"Name":"Honduras","2020":0.432639,"2030":0.86012,"2040":1.33305,"Water Stress Change":0.900411},{"Name":"Guatemala","2020":0.718591,"2030":1.13432,"2040":1.67642,"Water Stress Change":0.957829}]

In [66]:
# tufte_Agricultural_BAU_df = pd.DataFrame(tufte_Agricultural_BAU)
# print(tufte_Agricultural_BAU_df.to_json(orient="records"))

In [68]:
# tufte_Agricultural_BAU_f5 = tufte_Agricultural_BAU.head(5)
# tufte_Agricultural_BAU_l5 = tufte_Agricultural_BAU.tail(5)
# tufte_Agricultural_BAU_fl5 = pd.concat([tufte_Agricultural_BAU_f5, tufte_Agricultural_BAU_l5])
# # tufte_Agricultural_BAU_fl5
# tufte_Agricultural_BAU_fl5_df = pd.DataFrame(tufte_Agricultural_BAU_fl5)
# print(tufte_Agricultural_BAU_fl5_df.to_json(orient="records"))

In [59]:
# df_Agricultural_BAU = df_Agricultural_BAU.sort_values('2020 - 2040')
# df_Agricultural_BAU.plot(x='Name', y='2020 - 2040', kind='barh', figsize=(20,25))

In [71]:
df_Agricultural_op20 = df_2020op.copy()
df_Agricultural_op20 = df_Agricultural_op20[['Name', 'Agricultural']]
df_Agricultural_op20 = df_Agricultural_op20.rename(columns={'Agricultural': '2020'})

df_Agricultural_op30 = df_2030op.copy()
df_Agricultural_op30 = df_Agricultural_op30[['Name', 'Agricultural']]
df_Agricultural_op30 = df_Agricultural_op30.rename(columns={'Agricultural': '2030'})

df_Agricultural_op40 = df_2040op.copy()
df_Agricultural_op40 = df_Agricultural_op40[['Name', 'Agricultural']]
df_Agricultural_op40 = df_Agricultural_op40.rename(columns={'Agricultural': '2040'})

df_Agricultural_op = pd.merge(df_Agricultural_op20, df_Agricultural_op30, on='Name')
df_Agricultural_op = pd.merge(df_Agricultural_op, df_Agricultural_op40, on='Name')

df_Agricultural_op['2020'] = df_Agricultural_op['2020'].replace('No data', np.nan)
df_Agricultural_op['2030'] = df_Agricultural_op['2030'].replace('No data', np.nan)
df_Agricultural_op['2040'] = df_Agricultural_op['2040'].replace('No data', np.nan)

# df_Agricultural_op['2020 - 2030'] = df_Agricultural_op['2030'] - df_Agricultural_op['2020']
# df_Agricultural_op['2030 - 2040'] = df_Agricultural_op['2040'] - df_Agricultural_op['2030']
df_Agricultural_op['Water Stress Change'] = df_Agricultural_op['2040'] - df_Agricultural_op['2020']
# df_Agricultural_op = df_Agricultural_op[['Name', 'Agricultural 2020 - 2040']]
# df_Agricultural_op.head()
df_Agricultural_op = df_Agricultural_op.sort_values('Water Stress Change', ascending=True)

In [72]:
tufte_Agricultural_optimistic = df_Agricultural_op.copy()
# tufte_Agricultural_optimistic['Agricultural optimistic 2020'] = 0
tufte_Agricultural_optimistic.head(10)

           Name     2020      2030      2040  Water Stress Change
74       Taiwan  2.34365  1.879480  1.525630            -0.818020
83     Bulgaria  3.00465  2.726730  2.563440            -0.441210
37      Eritrea  3.50068  3.564130  3.202650            -0.298030
70      Ecuador  2.26611  2.085680  2.074580            -0.191530
81       Russia  3.07199  3.042170  2.943540            -0.128450
47  Timor-Leste  3.12724  3.049230  3.005920            -0.121320
80      Ireland  1.32078  1.250210  1.206170            -0.114610
58  South Korea  2.89772  2.876420  2.790780            -0.106940
66        Japan  2.49586  2.474060  2.406380            -0.089480
94   Madagascar  1.06003  0.901686  0.979012            -0.081018

In [85]:
tufte_Agricultural_optimistic_fl5 = tufte_Agricultural_optimistic[tufte_Agricultural_optimistic["Name"].isin(["Taiwan", "Eritrea", "Bulgaria", "Madagascar", "Ecuador", "Netherlands", "Chile", "Albania", "Honduras", "Guatemala"])]
tufte_Agricultural_optimistic_fl5_df = pd.DataFrame(tufte_Agricultural_optimistic_fl5)
print(tufte_Agricultural_optimistic_fl5_df.to_json(orient="records"))

[{"Name":"Taiwan","2020":2.34365,"2030":1.87948,"2040":1.52563,"Water Stress Change":-0.81802},{"Name":"Bulgaria","2020":3.00465,"2030":2.72673,"2040":2.56344,"Water Stress Change":-0.44121},{"Name":"Eritrea","2020":3.50068,"2030":3.56413,"2040":3.20265,"Water Stress Change":-0.29803},{"Name":"Ecuador","2020":2.26611,"2030":2.08568,"2040":2.07458,"Water Stress Change":-0.19153},{"Name":"Madagascar","2020":1.06003,"2030":0.901686,"2040":0.979012,"Water Stress Change":-0.081018},{"Name":"Chile","2020":3.5994,"2030":3.97093,"2040":4.2317,"Water Stress Change":0.6323},{"Name":"Honduras","2020":0.49922,"2030":0.948439,"2040":1.33563,"Water Stress Change":0.83641},{"Name":"Netherlands","2020":1.95018,"2030":2.38857,"2040":2.8414,"Water Stress Change":0.89122},{"Name":"Albania","2020":2.23633,"2030":2.70651,"2040":3.12837,"Water Stress Change":0.89204},{"Name":"Guatemala","2020":0.760564,"2030":1.21976,"2040":1.72298,"Water Stress Change":0.962416}]

In [73]:
# tufte_Agricultural_optimistic_df = pd.DataFrame(tufte_Agricultural_optimistic)
# print(tufte_Agricultural_optimistic_df.to_json(orient="records"))

In [75]:
# tufte_Agricultural_optimistic_f5 = tufte_Agricultural_optimistic.head(5)
# tufte_Agricultural_optimistic_l5 = tufte_Agricultural_optimistic.tail(5)
# tufte_Agricultural_optimistic_fl5 = pd.concat([tufte_Agricultural_optimistic_f5, tufte_Agricultural_optimistic_l5])
# # tufte_Agricultural_optimistic_fl5
# tufte_Agricultural_optimistic_fl5_df = pd.DataFrame(tufte_Agricultural_optimistic_fl5)
# print(tufte_Agricultural_optimistic_fl5_df.to_json(orient="records"))

In [63]:
# df_Agricultural_op = df_Agricultural_op.sort_values('2020 - 2040')
# df_Agricultural_op.plot(x='Name', y='2020 - 2040', kind='barh', figsize=(20,25))

In [77]:
df_Agricultural_pe20 = df_2020pe.copy()
df_Agricultural_pe20 = df_Agricultural_pe20[['Name', 'Agricultural']]
df_Agricultural_pe20 = df_Agricultural_pe20.rename(columns={'Agricultural': '2020'})

df_Agricultural_pe30 = df_2030pe.copy()
df_Agricultural_pe30 = df_Agricultural_pe30[['Name', 'Agricultural']]
df_Agricultural_pe30 = df_Agricultural_pe30.rename(columns={'Agricultural': '2030'})

df_Agricultural_pe40 = df_2040pe.copy()
df_Agricultural_pe40 = df_Agricultural_pe40[['Name', 'Agricultural']]
df_Agricultural_pe40 = df_Agricultural_pe40.rename(columns={'Agricultural': '2040'})

df_Agricultural_pe = pd.merge(df_Agricultural_pe20, df_Agricultural_pe30, on='Name')
df_Agricultural_pe = pd.merge(df_Agricultural_pe, df_Agricultural_pe40, on='Name')

df_Agricultural_pe['2020'] = df_Agricultural_pe['2020'].replace('No data', np.nan)
df_Agricultural_pe['2030'] = df_Agricultural_pe['2030'].replace('No data', np.nan)
df_Agricultural_pe['2040'] = df_Agricultural_pe['2040'].replace('No data', np.nan)

# df_Agricultural_pe['2020 - 2030'] = df_Agricultural_pe['2030'] - df_Agricultural_pe['2020']
# df_Agricultural_pe['2030 - 2040'] = df_Agricultural_pe['2040'] - df_Agricultural_pe['2030']
df_Agricultural_pe['Water Stress Change'] = df_Agricultural_pe['2040'] - df_Agricultural_pe['2020']
# df_Agricultural_pe = df_Agricultural_pe[['Name', 'Agricultural 2020 - 2040']]
# df_Agricultural_pe.head()
df_Agricultural_pe = df_Agricultural_pe.sort_values('Water Stress Change', ascending=True)

In [78]:
tufte_Agricultural_pessimistic = df_Agricultural_pe.copy()
# tufte_Agricultural_pessimistic['Agricultural pessimistic 2020'] = 0
tufte_Agricultural_pessimistic.head(10)

              Name      2020      2030      2040  Water Stress Change
71          Taiwan  2.379120  1.843320  1.421730            -0.957390
35         Eritrea  3.612710  3.031380  3.111810            -0.500900
84        Bulgaria  2.997100  2.768710  2.655630            -0.341470
86         Finland  0.692149  0.581840  0.453623            -0.238526
69         Ecuador  2.285290  2.135380  2.098930            -0.186360
92      Madagascar  1.168170  1.020360  0.998397            -0.169773
9            Yemen  4.922040  4.884050  4.755400            -0.166640
58  United Kingdom  2.870650  2.825390  2.712000            -0.158650
94         Vietnam  1.032060  0.992647  0.926482            -0.105578
64           Japan  2.491350  2.472330  2.388380            -0.102970

In [86]:
tufte_Agricultural_pessimistic_fl5 = tufte_Agricultural_pessimistic[tufte_Agricultural_pessimistic["Name"].isin(["Taiwan", "Eritrea", "Bulgaria", "Madagascar", "Ecuador", "Netherlands", "Chile", "Albania", "Honduras", "Guatemala"])]
tufte_Agricultural_pessimistic_fl5_df = pd.DataFrame(tufte_Agricultural_pessimistic_fl5)
print(tufte_Agricultural_pessimistic_fl5_df.to_json(orient="records"))

[{"Name":"Taiwan","2020":2.37912,"2030":1.84332,"2040":1.42173,"Water Stress Change":-0.95739},{"Name":"Eritrea","2020":3.61271,"2030":3.03138,"2040":3.11181,"Water Stress Change":-0.5009},{"Name":"Bulgaria","2020":2.9971,"2030":2.76871,"2040":2.65563,"Water Stress Change":-0.34147},{"Name":"Ecuador","2020":2.28529,"2030":2.13538,"2040":2.09893,"Water Stress Change":-0.18636},{"Name":"Madagascar","2020":1.16817,"2030":1.02036,"2040":0.998397,"Water Stress Change":-0.169773},{"Name":"Netherlands","2020":1.89785,"2030":2.26808,"2040":2.59399,"Water Stress Change":0.69614},{"Name":"Honduras","2020":0.39634,"2030":0.788062,"2040":1.21476,"Water Stress Change":0.81842},{"Name":"Guatemala","2020":0.697087,"2030":1.06476,"2040":1.57331,"Water Stress Change":0.876223},{"Name":"Chile","2020":3.62242,"2030":4.14621,"2040":4.536,"Water Stress Change":0.91358},{"Name":"Albania","2020":2.32802,"2030":2.89072,"2040":3.26369,"Water Stress Change":0.93567}]

In [79]:
# tufte_Agricultural_pessimistic_df = pd.DataFrame(tufte_Agricultural_pessimistic)
# print(tufte_Agricultural_pessimistic_df.to_json(orient="records"))

In [80]:
# tufte_Agricultural_pessimistic_f5 = tufte_Agricultural_pessimistic.head(5)
# tufte_Agricultural_pessimistic_l5 = tufte_Agricultural_pessimistic.tail(5)
# tufte_Agricultural_pessimistic_fl5 = pd.concat([tufte_Agricultural_pessimistic_f5, tufte_Agricultural_pessimistic_l5])
# # tufte_Agricultural_pessimistic_fl5
# tufte_Agricultural_pessimistic_fl5_df = pd.DataFrame(tufte_Agricultural_pessimistic_fl5)
# print(tufte_Agricultural_pessimistic_fl5_df.to_json(orient="records"))

In [67]:
# df_Agricultural_pe = df_Agricultural_pe.sort_values('2020 - 2040')
# df_Agricultural_pe.plot(x='Name', y='2020 - 2040', kind='barh', figsize=(20,25))

- df_All_Sectors_BAU
- df_All_Sectors_op
- df_All_Sectors_pe
- df_Industrial_BAU
- df_Industrial_op
- df_Industrial_pe
- df_Domestic_BAU
- df_Domestic_op
- df_Domestic_p3
- df_Agricultural_BAU
- df_Agricultural_op
- df_Agricultural_pe

In [68]:
# Combine into 3 dataframe: BAU, op, pe
# All sectors
# BAU : business-as-usual

df_BAU = pd.merge(df_All_Sectors_BAU, df_Industrial_BAU, on='Name')
df_BAU = pd.merge(df_BAU, df_Domestic_BAU, on='Name')
df_BAU = pd.merge(df_BAU, df_Agricultural_BAU, on='Name')
# df_BAU.head()

# df_BAU.plot(x='Name', figsize=(20,25))

In [69]:
# optimistic

df_op = pd.merge(df_All_Sectors_op, df_Industrial_op, on='Name')
df_op = pd.merge(df_op, df_Domestic_op, on='Name')
df_op = pd.merge(df_op, df_Agricultural_op, on='Name')
df_op.head(10)

,Name,2020_x,2030_x,2040_x,All sectors Optimistic 2040,2020_y,2030_y,2040_y,Industrial Optimistic 2040,2020_x,2030_x,2040_x,Domestic Optimistic 2040,2020_y,2030_y,2040_y,Agricultural optimistic 2040
0,Bahrain,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000
1,Kuwait,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000
2,Qatar,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000
3,San Marino,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000
4,Singapore,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000,NaN,NaN,NaN,NaN
5,United Arab Emirates,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000,5.00000,5.00000,5.00000,0.00000
6,Saudi Arabia,4.99973,4.99886,4.99175,-0.00798,4.99870,4.99860,4.99752,-0.00118,4.99803,4.99803,4.99512,-0.00291,5.00000,4.99901,4.99079,-0.00921
7,Oman,4.98962,4.96874,4.99208,0.00246,4.97981,4.96600,4.99140,0.01159,4.98093,4.96844,4.99209,0.01116,4.99209,4.96894,4.99209,0.00000
8,Israel,4.97086,4.99408,4.99974,0.02888,4.94588,4.98815,4.99913,0.05325,4.95029,4.98980,4.99973,0.04944,4.98295,4.99686,4.99980,0.01685
9,Kyrgyzstan,4.89051,4.88319,4.87805,-0.01246,4.85969,4.86218,4.86853,0.00884,4.84065,4.84857,4.85742,0.01677,4.89578,4.88839,4.88148,-0.01430

In [70]:
# pessimistic

df_pe = pd.merge(df_All_Sectors_pe, df_Industrial_pe, on='Name')
df_pe = pd.merge(df_pe, df_Domestic_pe, on='Name')
df_pe = pd.merge(df_pe, df_Agricultural_pe, on='Name')
df_pe.head()

,Name,2020_x,2030_x,2040_x,All sectors pessimistic 2040,2020_y,2030_y,2040_y,Industrial pessimistic 2040,2020_x,2030_x,2040_x,Domestic pessimistic 2040,2020_y,2030_y,2040_y,Agricultural pessimistic 2040
0,Bahrain,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0
1,Kuwait,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0
2,Qatar,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0
3,San Marino,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0
4,Singapore,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0,5.0,5.0,5.0,0.0,NaN,NaN,NaN,NaN